TestResults
[Bb]in/
[Oo]bj/
Debug/
Gemfile.lock
Release/
Logs
CVS
.cvsignore
.svn
.#*
_ReSharper.*
~$*.*
*.suo
*.user
*.bak
*.orig
*.tmp
*.Publish.xml
*.nupkg
_UpgradeReport*
UpgradeLog.XML
packages/
node_modules/